<!-- employment.html -->
{{define "employment"}}
<section class="employments">
  <h1>{{ .Headings.Employment }}</h1>
  {{range .Employment}}
  <article class="employment">
    <hgroup>
      <h2>
        <a href="{{.Url}}">{{.Name}}</a> | {{.StartDate}} - {{if
        .EndDate}}{{.EndDate}}{{else}}Today{{end}}
      </h2>
      <h3>{{.Role}}</h3>
    </hgroup>
    {{.Description}}
    <footer>
      <ul>
        {{range .Details}}
        <li>{{.}}</li>
        {{end}}
      </ul>
    </footer>
  </article>
  {{end}}
</section>
{{end}}
