<!-- employment.html -->
{{define "employment"}}
<div class="employments">
    <h1 class="nes-text is-primary">Employment</h1>
    {{range .Employment}}
    <div>
        <div><a href="{{.Url}}">{{.Name}}</a> | {{.StartDate}} - {{.EndDate}}</div>
        <div>
            <p>{{.Role}} {{.Description}}</p>
            <p>
                <ul>
                    {{range .Details}}
                    <li>{{.}}</li>
                    {{end}}
                </ul>
            </p>
        </div>
    </div>
    {{end}}
</div>
{{end}}